{%- extends "layout.jinja" -%}
{%- block body -%}
<div id="frame">
    {% include "header.html" %}
    <h1 class="font-bold text-4xl text-center my-4">Welcome back {{name}}!</h1>
    <div class="flex flex-row">
        <div class="grow"></div>
        <div class="flex flex-col w-1/3">
            <button 
                class="bg-sky-700 border border-black font-semibold text-white text-lg my-1 p-1" 
                hx-get="/dash" hx-target="#frame" hx-swap="outerHTML"
            >
                View Transactions
            </button>
            <button 
                class="bg-red-400 border border-black font-semibold text-white text-lg my-1 p-1" 
                hx-get="/metrics" hx-target="#frame" hx-swap="outerHTML"
                hx-indicator="#loading"
            >
                View Market Metrics
            </button>
            <div id="loading" class="htmx-indicator">Loading...</div>
        </div>
        <div class="grow"></div>
    </div>
</div>
{%- endblock -%}