{%- extends "layout.jinja" -%}
{%- block body -%}
<div id="frame">
    {% include "header.html" %}
    <div class="flex flex-row items-center mt-4">
        <div class="grow"></div>
        <p class="font-bold text-xl">HH No.</p>
        <select 
            class="border border-black font-semibold mx-2 p-1"
            name="hshd" hx-get="/dash" hx-target="#frame" hx-swap="outerHTML"
        >
            {% for hh in hshd_list %}
                {% if hh != hshd %}
                    <option value="{{hh}}">
                        {{hh}}
                    </option>
                {% else %}
                    <option value="{{hh}}" selected>
                        {{hh}}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
        <button 
            class="bg-red-400 border border-black font-semibold text-white p-1" 
            hx-get="/metrics" hx-target="#frame" hx-swap="outerHTML"
            hx-indicator="#loading"
        >
            View Market Metrics
        </button>
        <div id="loading" class="htmx-indicator pl-1">Loading...</div>
        <div class="grow"></div>
    </div>
    {% include "dash/data.jinja" %}
</div>
{%- endblock -%}